<!DOCTYPE html>
<html>
<head>
  <title>JournalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="sidebar">
</div>

<div class="content">
</div>

</body>
</html>
