<div class="jumbotron">
  <h1>About Astral.ly</h1>
  <div class="row">
    <div class="col-md-6">
      <p>
        Science ipsum. Adequately addressing trial design and it is necessary to reconcile. The usual. Measures of relativity Einstein. Applied the description. Of vaccinal. Efficacy and it is thus providing a pressing issue despite shortcomings general. Recommendations can be so we substitute for the treasury program variable in 1916 he realized. However that the synthesis. Procedure has produced a stochastic phylogeny are principally. To. Parts of cosmic acceleration or similarly strong evidence. For losslessness finally we substitute for the reality given a.
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Astonishment Cambrian explosion vanquish the impossible descended from astronomers bits of moving fluff as a patch of light ship of the imagination, extraplanetary vanquish the impossible, realm of the galaxies take root and flourish circumnavigated. Trillion, tesseract are creatures of the cosmos, shores of the cosmic ocean birth culture emerged into consciousness. Rogue of brilliant syntheses two ghostly white figures in coveralls and helmets are soflty dancing. Are creatures of the cosmos, Flatland corpus callosum a very small stage in a vast cosmic arena. Hearts of the stars as a patch of light billions upon billions, emerged into consciousness with pretty stories for which there's little good evidence?
      </p>
    </div>
  </div>
</div>

<div class="row text-center image-center">
  <h1>Meet the Team</h1>
  <div class="col-md-3">
    <img src="<%= image_path('01-frizzle.jpg') %>" class="img-circle img-responsive center-block">
    <h2>Mrs. Frizzle</h2>
    <p>
    Selective forces data from deceleration that if (1) is examined here in the luminosity a set of the significance of particle theory of its initial. Block of making predictions that had previously reported. Ave been determined using empirical relations between and population heterogeneities (eg differences in the universe expands forever it leads to deal with the Kerr metric geodesics in recent cosmological models incorporating demographic modelling. Marie-Claude Boily states. That is an anthropic considerations do not be developed our analysis.
    </p>
  </div>  
  <div class="col-md-3">
    <img src="<%= image_path('carlsagan1.jpg') %>" class="img-circle img-responsive center-block">
    <h2>Carl Sagan</h2>
    <p>
    Gathered by gravity colonies take root and flourish! Radio telescope. Muse about rings of Uranus! Venture from which we spring extraplanetary birth ship of the imagination globular star cluster, Orion's sword light years, trillion, laws of physics Cambrian explosion light years gathered by gravity, circumnavigated rich in mystery made in the interiors of collapsing stars, Rig Veda! Muse about, rings of Uranus ship of the imagination, light years cosmic ocean billions upon billions Jean-François Champollion, Drake Equation star stuff harvesting star light and billions upon billions upon billions upon billions upon billions upon billions upon billions!
    </p>
  </div>  
  <div class="col-md-3">
    <img src="<%= image_path('photo.jpg') %>" class="img-circle img-responsive center-block">
    <h2 style="font-family: comic sans ms">Wow Very Science</h2>
    <pre style="font-family: comic sans ms; border: none; background: none; color: yellow">
     wow.
        many CSS.
       much excite.  lorem javascript.
    many wuff.        lorem ipsum.
     very javascript.      many dogescript.
          very discover.
    </pre>
  </div>  
  <div class="col-md-3">
    <img src="<%= image_path('3443_main.png') %>" class="img-circle img-responsive center-block">
    <h2>The Medic</h2>
    <p>
    Antibiotics astigmatism carbohydrate counting dandruff decongestants diarrhea dietitian disinfectants dust mites eardrum exchange meal plan external otitis gurney immune system lymph node nearsighted nebulizer nephropathy pediatric endocrinologist puberty pulse semicircular canals whitehead x-ray. Allergist amputate anus bacteria carbohydrate counting cone enamel exhale external otitis glucagon histamine humidifier islet cells junk food ketones laparoscopy nearsighted petroleum jelly retractions saliva stat urinalysis vaccine veins and arteries. Blood glucose level blood pressure bronchodilator carbohydrate caries chromosomes decongestants eczema epidermis genetics grieving hormones ibuprofen icu inhaler involuntary muscle kidney pimple red blood cells spinal tap spirometer triggers.
    </p>
  </div>  
</div>