html, body, .container, .row {
  height: 100%;
}

.full-height {
  height: 100%;
}

body {
  padding-bottom: 60px;
}

.msgs {
  border-right: 2px solid black;
  padding-top: 30px;
}

.footer {
  border-top: 2px solid black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

button {
  display: none !important;
}

.form-control{
}

ul {
  list-style: none;
  padding-left: 0;
}

/*body {
  width: 100%;
}
*/
/*#form-div {
 bottom: 0;
/* padding-bottom: 5px; */
/* margin-bottom: 2px;
 position: fixed;
 height: 40px;
 width: 100%;
 left: 0;
 right: 0;
}*/
*/
/*#form-div button {
  float: right;
  height: 35px;
  width: 90px;
}*/

/*.msgs {
  width: 650px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}
*/
/*.rooms {
  float: right;
  margin-right: 50px;
  min-width: 150px;
  border: 2px black solid;
  border-radius: 3px;
  padding: 10px;
}*/

/*input[type="text"] {
  height: 35px;
  font-size: 16px;
  width: 90%;
}*/

/** {
  box-sizing: border-box;
}*/