<div class="row">
  <div class="col-md-6">
    <h1>Contact Us</h1>
      <form class="dummy-form">
        <div class="form-group">
          <label for="user-email">
            Email address
          </label>
          <input type="text" id="user-email" class="form-control">
        </div>
        
        <div class="form-group">
        
          <label for="user-message">
            Message
          </label>
          <textarea class="form-control" id="user-message"></textarea>
        </div>
        <input type="submit"
               value="Submit"
               class="btn btn-danger">
        
      </form>
  </div>
  
  <div class="col-md-6">
    <h1>Our Staff</h1>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Number</th>
      </tr>
      <tr>
        <td>
          Jon Dough
        </td>
        <td>
          (471) 324-2845
        </td>
      </tr>
      <tr>
        <td>
          Amber Greens
        </td>
        <td>
          (555) 555-5555
        </td>
      </tr>
      <tr>
        <td>
          Dr. Somersault
        </td>
        <td>
          (123) 456-7890
        </td>
      </tr>
    </table>
  </div>  
</div>

