<h1>Welcome to Astral.ly</h1>

<!-- <div class="row">
  <div class="col-xs-8 col-xs-offset-2">

  </div>
</div> -->

<div class="row">
  <nav class="col-md-3 navbar-spy affix">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#zombie">Zombie ipsum</a></li>
      <li><a href="#bro">Bro ipsum</a></li>
      <li><a href="#animals">Unusual Animals</a></li>
      <li><a href="#poe">Poets and Dragons ipsum</a></li>
    </ul>
  </nav>

  <div class="col-md-9 col-md-offset-3">
    
    <div id="carousel-home" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
        <li data-target="#carousel-home" data-slide-to="2"></li>
      </ol>
  
      <div class="carousel-inner">
        <div class="item active">
          <img src="<%= image_path("2798522576_f40273cc72_b.jpg") %>"
               class="img-responsive"
               style="width: 100%">
        </div>
        <div class="item">
          <img src='<%= image_path('11445693166_10a504e6f9_h.jpg') %>'
               class="img-responsive">
        </div>
        <div class="item">
          <img src='<%= image_path('14769248029_887c35a5df_k.jpg') %>'
               class="img-responsive">
        </div>
      </div>
  
      <a href="#carousel-home"
         class="left carousel-control"
         role="button"
         data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a href="#carousel-home"
         class="right carousel-control"
         role="button"
         data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    
    <div class="tab-pane active" id="zombie">
      <h1>Zombie ipsum</h1>
      <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead <a href="javascript:void(0)" data-toggle="tooltop" data-placement="left" title="braaaaaains" class="tooltipped">survivor</a> dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.</p>
      <p>Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.</p>
    </div>

    <div class='tab-pane' id="bro">
      <h1>Bro ipsum</h1>
        <p>Bromosexual brosky crib designer sunglasses dude epic facemelt fratastic fresh i know, right i'd hit it jager bomb keg party lacoste natty pong pumped pushups rageout rando salmon colored polo searsucker shorts solid sperries sweetness that beat is tight this party is lame totally ultimate. Awesome bromosexual brotally bummer cheah digits football fratastic gtl hella i'd hit it kicks mcgotes noise pong pushups solid sperries squash suhweet sup super deep v neck talking tan tanning lotion that was dope ups. Burberry cheah crib crushed fresh hit me up mcgotes metbrosexual noxplode <a href="javascript:void(0)" data-toggle="tooltop" data-placement="top" title="do you even lift?" class="tooltipped">pre-workout</a> protein shredded sickness sorority chicks that was dope tony v neckbro. Burberry double popped collar dumbbells football let's take shots light mixer noxplode pumped raybans redbull vodka spank super yolo.</p>
        <p>Bromosexual brosky crib designer sunglasses dude epic facemelt fratastic fresh i know, right i'd hit it jager bomb keg party lacoste natty pong pumped pushups rageout rando salmon colored polo searsucker shorts solid sperries sweetness that beat is tight this party is lame totally ultimate. Awesome bromosexual brotally bummer cheah digits football fratastic gtl hella i'd hit it kicks mcgotes noise pong pushups solid sperries squash suhweet sup super deep v neck talking tan tanning lotion that was dope ups. Bromosexual brosky crib designer sunglasses dude epic facemelt fratastic fresh i know, right i'd hit it jager bomb keg party lacoste natty pong pumped pushups rageout rando salmon colored polo searsucker shorts solid sperries sweetness that beat is tight this party is lame totally ultimate. Awesome bromosexual brotally bummer cheah digits football fratastic gtl hella i'd hit it kicks mcgotes noise pong pushups solid sperries squash suhweet sup super deep v neck talking tan tanning lotion that was dope ups.</p>
    </div>

    <div class="tab-pane" id="animals">
      <h1>Unusual animals</h1>
      <p>Aardwolf argali bontbok bulbul conure cusk duarf goa grysbok kob limpkin octodont saki solenodon stirk titi uguisu urochs wapiti widgeon xenurine xiphias zebrinny zebrule. Acipenser antechinus blenny desman echidna gymnure ithomiid kaka klipspringer lechwe ratel reebok scanderoon seriema serow serval tuatara tucutucu <a href="http://www.hedweb.com/animimag/viscacha.jpg" data-toggle="tooltop" data-placement="bottom" title="d'aw" class="tooltipped">viscacha</a> wisent woolbird. Binturong chiru chital cleg colocolo dugong galago goral harrier jade junco kea kouprey leopon linsang malbrouck olm oribi oystercatcher palfrey solenodon spatangoid tayra turaco wether xeme yeanling. Antechinus dik-dik francolin gerenuk goa numbat rooibok uakari urochs xenurine. Antechinus bulbul dobsonfly iulus kinkajou klipspringer limpkin okapi spatangoid tinamou tucutucu wether xiphias yaffingale.</p>
      <p>inturong chiru chital cleg colocolo dugong galago goral harrier jade junco kea kouprey leopon linsang malbrouck olm oribi oystercatcher palfrey solenodon spatangoid tayra turaco wether xeme yeanling. Antechinus dik-dik francolin gerenuk goa numbat rooibok uakari urochs xenurine. Antechinus bulbul dobsonfly iulus kinkajou klipspringer limpkin okapi spatangoid tinamou tucutucu wether xiphias yaffingale. inturong chiru chital cleg colocolo dugong galago goral harrier jade junco kea kouprey leopon linsang malbrouck olm oribi oystercatcher palfrey solenodon spatangoid tayra turaco wether xeme yeanling. Antechinus dik-dik francolin gerenuk goa numbat rooibok uakari urochs xenurine. Antechinus bulbul dobsonfly iulus kinkajou klipspringer limpkin okapi spatangoid tinamou tucutucu wether xiphias yaffingale.</p>
    </div>

    <div class="tab-pane" id="poe"style="padding-bottom: 25%;">
      <h1>Poets and Dragons ipsum</h1>
      <p>Death attack dispel check full normal hit points necromancy powerful charge ranged touch attack spell preparation telepathy thrown weapon ad libitum appennines ardor beetling beldame cattymount gainsayed pectoral muscles phthisis pluto ptolemy rara avis in terris rubicund. 5-foot step current hit points dispel turning ethereal plane hardness hit die ice effects lethal damage masterwork melee attack roll plant domain renewal domain supernatural ability take 10 <a href="javascript:void(0)" data-toggle="tooltop" data-placement="right" title="you stand no chance against the landshark" class="tooltipped">tremorsense</a> turn resistance yugoloth subtype accede acrid acute aidenn boudoir educed eldorado fouled our anchor heaving the lead morceau quiescence vacillating. End of round fey type hit die large level manufactured weapons sorcerer summon trample tremorsense blue distance of tieck cotopaxi girting gossamer in pace requiescat ourang-outang physiognomy rheumatism sagacity veriest wan.</p>
      <p>resistance yugoloth subtype accede acrid acute aidenn boudoir educed eldorado fouled our anchor heaving the lead morceau quiescence vacillating. End of round fey type hit die large level manufactured weapons sorcerer summon trample tremorsense blue distance of tieck cotopaxi girting gossamer in pace requiescat ourang-outang physiognomy rheumatism sagacity veriest wan. resistance yugoloth subtype accede acrid acute aidenn boudoir educed eldorado fouled our anchor heaving the lead morceau quiescence vacillating. End of round fey type hit die large level manufactured weapons sorcerer summon trample tremorsense blue distance of tieck cotopaxi girting gossamer in pace requiescat ourang-outang physiognomy rheumatism sagacity veriest wan.</p>
    </div>
  </div>
</div>