.carousel {
  border: thin solid blue;
  height: 300px;
  margin: 0 auto;
  width: 300px;
}

.carousel .items {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.carousel .items img {
  position: absolute;
  width: 100%;
  top: 0;
}

.carousel .items img.active {
  left: 0;
  transition: left .75s cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.carousel .items img:not(.active) {
  display:none;
}

.carousel .items img.active.left {
  left: -100%;
}

.carousel .items img.active.right {
  left: +100%;
}

.items img {
  width: 300px;
  height: 300px;
}