<div class="modal fade"
     id="sign-up-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="Sign Up">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      
      <div class="modal-body">
        <%= render 'users/form', user: User.new %>
      </div>
      
      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>